name: Publish Npm Package

on:
  release:
    types: [created] # 仅当创建 Release 时触发
  push:
    branches:
      - main #仅当 push 到 main 分支时触发
  workflow_dispatch: # 手动触发工作流

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
      - name: Npm install
        run: npm install
      - name: Npm build
        run: npm run build
      - name: Publish to npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
